@import "tailwindcss";

@theme{
  --color-primary-green: #0B5644
}
.rdp-chevron {
  fill:  #0B5644 !important;
}

body {
  font-family: var(--font-montserrat), sans-serif;
}
@layer utilities {
  .font-montserrat {
    font-family: var(--font-montserrat), sans-serif;
  }
}