@import "tailwindcss";

@theme{
  --color-primary-green: #0B5644
}
.rdp-chevron {
  fill:  #ffffff !important;
}

body {
  font-family: var(--font-montserrat), sans-serif;
}

@layer utilities {
  .font-montserrat {
    font-family: var(--font-montserrat), sans-serif;
  }
  .font-qwigley {
     font-family: var(--font-qwigley), sans-serif
  }
}

